# Ignore Mac system files
.DS_store

# Ignore other files
demo.cpp
.in
test.cpp
test

# Ignore all files in the build directory
build/*
```
inputf.in
outputf.in


.vscode
.DS_Store
arrays/.DS_Store
BinarySearch/.DS_Store
LinkedLists/.DS_Store
